!!! Strict
%html{html_attrs}
  %head
    %title= [@title, "Ajax Wizard"].compact.join(" | ")
    = stylesheet_link_tag 'wizard'
    = javascript_include_tag :external, 'application'
  %body
    #container
      #branding   
        %h2 Ajax Wizard Sample Application
      #navigation 
        %ul.links
          %li= link_to "View Computers", computers_path
          %li= link_to "Build Computer", new_computer_path
      #content    
        #notice.flash= flash[:notice]
        = yield :layout
      #footer     
        Created by Nathan Esquenazi in 2009
