!!! Strict
%html{html_attrs}
  %head
    %title= [@title, "Ajax Wizard"].compact.join(" | ")
    = javascript_include_tag :external
  %body
    #container
      #branding   
        %h2 Ajax Wizard Sample Application
      #navigation 
        %ul.links
          %li= link_to "Build Computer"
      #content    
        #notice.flash= flash[:notice]
        = yield :layout
      #footer     
        Created by Nathan Esquenazi in 2009
